:root {
    --rose-color1: #fbadd1;
    --rose-color2: #d8a8ff;
}

* {
    background-color: rgb(153, 219, 153);
}

html, body, #a {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#a {
    display: table;
}

#b {
    display: table-cell;
    margin: 0;
    padding: 0;

    text-align: center;
    vertical-align: middle;
}

#content {
    margin: auto;
}

@keyframes color-change {
    
    0% {
        fill: var(--rose-color1);      
    }
    50% {
        fill: var(--rose-color2);
    }
    100% {
        fill: var(--rose-color1); 
    }
}

@keyframes opacity {
    from {
        opacity: 10%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes revolve {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }
    to {
        transform: rotate(360deg);
        transform-origin: center;
    }
}

.petal {
    animation-name: color-change, opacity;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.petal-reverse {
    animation-name: color-change, opacity;
    animation-direction: alternate-reverse, alternate;
    animation-iteration-count: infinite;
    animation-duration: 2;
}

#rose {
    animation: revolve 30s linear infinite;
}

#petal1 {
    animation-duration: 3.5s, 1s;
}

#petal2 {
    animation-duration: 2.5s, 1.5s;
}

#petal3 {
    animation-duration: 4.5s, 1.1s;
}

#petal4 {
    animation-duration: 3.75s, 1.2s;
}

#petal5 {
    animation-duration: 2.75s, 1.3s;
}

#petal6 {
    animation-duration: 4.75s, 1.4s;
}

#petal7 {
    animation-duration: 3.25s, 1.6s;
}

#petal8 {
    animation-duration: 2.25s, 1.7s;
}

#petal9 {
    animation-duration: 4.25s, 1.8s;
}

#petal10 {
    animation-duration: 3s, 1.9s;
}

#outline {
    fill: white;
}